*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;;
}
@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.box{
    position: relative;
    width: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%,
     #01dbc2 10%, transparent 10%, transparent 50%);
     animation: animate 6s linear infinite;
}
@keyframes animate {
    0%{
        --a: 0deg
    }
    100%{
        --a: 360deg
    }
}
.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%,
     #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}