.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
}
.shape{
    background-color: #002244;
    height: 250px;
    width: 500px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(25deg);
}
.shape img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 200px;
    margin-left: 140px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 2px 15px #3a3636;
    transform: rotate(-20deg);
}